:root{
    --more-opt-bg:rgb(228, 197, 144);
    --underline-color:rgb(252, 128, 25);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar:hover{
    width: 8px;
}
.foods-overview::-webkit-scrollbar{
    width: inherit;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(248, 188, 84);
}
::-webkit-scrollbar-track {
    background-color: rgb(2, 6, 12);
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: whitesmoke;
    font-family: "Be Vietnam Pro", sans-serif;
    padding-top: 50px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:white;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    padding-block:10px ;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    transition: top .4s ;
    color:rgb(61, 65, 82);
    color: white;
}
header.black{
    background-color: rgb(2, 6, 12);
}
.left-container{
    display: flex;
    overflow: hidden;
}
.left-container>img{
    height: 100%;
    width: 100%;
    max-width: 180px;
    object-position: center;
    object-fit: contain;
    transition: .39s;
    transform: scale(.9);
}
.left-container>img:hover{
    transform: scale(1);
}
.right-container{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    font-size: .9em;
    text-transform: uppercase;
}
.right-container>a,.mobile-view-right-container a{
    text-decoration: none;
    color: inherit;
}
.right-container>*{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.right-container>*:hover{
    color: var(--underline-color);
}
.right-container>*::after{
    display: block;
    content: '';
    position: absolute;
    bottom:-10px;
    left: 0;
    width: 110%;
    height: 3px;
    border-block:1.5px solid var(--underline-color);
    transform: scaleX(0);
    transition: .4s;
}
.right-container>*:hover:after{
    transform: scaleX(1);
}
.mobile-view-right-container{
    display: none;
    position: relative;
}
.more-options-container{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "DM Sans", sans-serif;
    padding: 40px 20px 100px 20px;
    background-color: rgb(14, 13, 12);
    background-color: hsla(40, 12%, 5%, 1);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    transform: translateX(-100%);
    transition: transform .3s;
}
.more-options-header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 30px;
}
.more-options-details{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    border-bottom: .25px solid rgb(255, 255, 255,0.2);
}
.more-options-header>img{
    width: 200px;
}
.cross-mark{
    transition: .05s;
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.2em;
}
.cross-mark>i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 187, 197);
}
.cross-mark:active{
    transform: scale(1.25);
}
.more-options-details>*{

    padding:10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    gap: 10px;
    width: 100%;
    border-block-start-color: rgba(255,255,255,0.2) ;
    font-weight: 400;
    border-block-start-width: .01px;
    border-block-start-style:solid ;
    font-family: "DM Sans", sans-serif;
    font-size: .7em;
    position: relative;
    transition: .4s;
}
.more-options-details>*:hover,.more-options-details>*:active,.visiting-email:hover{
    color: rgb(228, 197, 144);
}
.more-options-details>a::before{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) rotateZ(45deg);
    left: 10px;
    border: 1px solid rgb(228, 197, 144);
    display: none;
}
.more-options-details>a:nth-child(1),.more-options-details>a:hover{
    color: rgb(228, 197, 144);
    padding-left: 25px;
}
.more-options-details>a:nth-child(1)::before,.more-options-details>*:hover::before{
    display: block;
}
.visiting-details-container,.contact-details{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: .9em;
    text-align: center;
    color: rgb(196, 198, 205);
}
.visit-header{
    color: white;
    font-size: 35px;
    font-family: 'Forum';
    letter-spacing: 2px;
}
.visiting-details-container>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 22px;
}
.booking-request{
    font-weight:bold ;
    color: white;
}
a.contact-no{
    color: rgb(228, 197, 144);
    font-size: 20px;
}
#more-opt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#more-opt>span{
    height: 2px;
    width: 20px;
    cursor: pointer;
    animation:menuEl .5s alternate infinite;
    background-color: var(--more-opt-bg);
    border-radius: 10px;
}
#more-opt>span:nth-child(2){
    animation-delay: 0.175s;
}
#more-opt>span:nth-child(3){
    animation-delay: 0.35s;
}
@keyframes menuEl {
    0%{
        width: 7px;
    }100%{
        width: 25px;
    }
} 
/* 
..........................
..........................
main 
............................
............................
*/

main{
    margin-top:40px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}
section{
    margin-inline: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 20px;
}
.foods-orders-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50vh;
    gap: 15px;
    left: -50vw;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: white;
    width: 500px;
    z-index: 10000;
    padding: 10px;
    padding-bottom: 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    transition: left 0.15s;
    max-height: 90vh;
}
main.active-blur,header.active-blur,footer.active-blur{
    filter:blur(10px) brightness(.9); 
    pointer-events: none;
    user-select: none;
}
.foods-orders-container>img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.close-order{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(61, 65, 82);
    box-shadow: 0px 0px 12px 2px white;
    color:rgb(61, 65, 82);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.close-order:hover{
    color: rgb(252, 128, 25);
}
.ordering-food{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.bestseller{
    display: flex;
    align-items: center;
    color: limegreen;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    gap: 8px;
}
.ordering{
    border: 1px solid rgb(184, 187, 197);
    padding: 8px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    color: limegreen;
    font-weight: 600;
    cursor: pointer;
}
.foodName{
    color: rgb(62, 65, 82);
    font-size: 1.2em;
    font-weight: 600;
}
.price{
    color: rgb(40, 44, 63);
}
.food-description{
    color: rgb(62, 65, 82);
    font-weight: 300;
    font-size: 15px;
}
.ordering-template{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    line-height: 48px;
    overflow: hidden;
    color:rgba(2,6,12,0.75);
    font-weight: 800;
    letter-spacing: -0.43px;
    background:linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%) ;
}
.ordering-template>img{
    object-fit:contain ;
    flex: 3.5;
    min-width: 0px;
}
.ordering-template>div{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ordering-template>div>svg{
    width: 80%;
}
.food-header{
    padding: 0 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.arrow-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.arrow-container>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(226, 226, 231);
    cursor: pointer;
    border-radius: 50%;
}
.left-arrow{
    opacity: .4;
}
.food-varieties-container{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.foods-overview{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-align: x mandatory;
}
.food-types{
    min-height: 130px;
    padding: 10px;
    min-width: 130px;
    cursor: pointer;
}
.food-types>img{
    width: 100%;
}
.southIndian-container,.dessert-container,.chinesefood-container,.grill-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}
.southIndian-foods-overview,.dessert-overview,.chinese-overview,.grillshawarma-overview{
    display: flex;
    gap: 12px;
    overflow: auto;
    scrollbar-width: none;
    justify-content: space-between;
    scroll-behavior: smooth;
}
.southIndian-foods-overview>div,.dessert-overview>div,.chinese-overview>div,.grillshawarma-overview>div{
    transition: .3s;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}
.southIndian-foods-overview>div:hover,.dessert-overview>div:hover,.chinese-overview>div:hover,.grillshawarma-overview>div:hover{
    transform: scale(.935);
}
.food-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}
.description{
    display: none;
}
.southIndian-foods-overview>div>img,.dessert-overview>div>img,.chinese-food>img,.grill>img{
    width: 252px;
    object-fit: cover;
    border-radius: 20px;
    height: 181px;
}
h1{
    color:rgba(2, 6, 12, 0.92);
    transition: .1s;
}
h1:hover{
    color: rgb(252, 128, 25);
}
.ratings-container{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
}
.rating-img{
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}
.food-details{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.food-name{
    margin-top: 10px;
    color: rgba(2, 6, 12, 0.75);
    font-size: 18px;
    font-weight: bold;
}
.food-price{
    font-family: 'Roboto';
    display: flex;
    font-weight: 500;
    align-items: center;
    gap: 8px;
    color: rgba(2, 6, 12, 0.72);
    font-size: 20px;
}
.curr-price>del{
    font-weight: 300;
}
.curr-price{
    display: flex;
    gap: 10px;
}
.restaurant-details{
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 13, 12);
}
.restaurent-features{
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    animation: up_and_down 5s linear infinite;
}
.features-head1{
    color: rgb(228, 197, 144);
    font-size: .9em;
    letter-spacing: 2px;
    font-weight: bold;
}
.features-head2{
    color: white;
    font-size: 48px;
    font-family: 'Forum';
}
.features-overview{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Forum';
    gap: 40px;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
    font-size: 20px;
    flex: 1;
    cursor: pointer;
}
@keyframes rotate_img{
    100%{
        transform: rotate(1turn);
    }
}
.feature-img-rotater{
    animation:rotate_img .4s;
}
.features>img{
    aspect-ratio: auto 100/80;
    object-fit: cover;
}
.features:nth-child(even){
    background-color:rgb(19, 19, 19) ;
}
.features:nth-child(odd){
    background-color: rgb(24, 21, 21);
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feature-quotes{
    color: white;
    font-family: 'Forum';
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}
.features>.quotes{
    font-size: .8em;
    color: rgb(184, 187, 197);
}
.customer-review-container{
    overflow-x: hidden;
    background-repeat: no-repeat;
    min-height: 500px;
    background: url("images/background/customer-review.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    justify-content: space-around;
}
.customer-review{
    font-family: 'Forum';
    font-size: 39.4px;
    line-height: 55.16px;
    color: white;
}
.customer-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(228, 197, 144);
    font-size: 1.4em;
    font-weight: bold;
}
.customer-img-container>img{
    border-radius: 50%;
}
.chef-container{
    display: flex;
    font-family: 'Forum';
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
    background: url(images/background/shape-6.png);
    background-color: rgb(14, 13, 12);
    text-align: center;
    animation:up_and_down 15s linear infinite;
    background-attachment: fixed;
}
.chef-details-container{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    flex: .6;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.chef-head{
    letter-spacing: 8px;
    font-weight: bold;
    font-family: 'Be Vietnam Pro';
    font-size: .9em;
    color: rgb(228, 197, 144);
}
.booking{
    font-weight: bold;
    font-family: 'Be Vietnam Pro';
    color: white;
    letter-spacing: 2px;
}
.chef-details-container>.phone{
    font-size: 1.25em;
    font-family: 'DM Sans';
    cursor: pointer;
    padding: 15px 30px;
    border: 1px solid rgb(228, 197, 144);
}
.chef-quotes{
    font-size: 48px;
}
.chef-details{
    line-height: 23px;
    font-size: 18px;
}
.chef-img{
    flex: .5;
}
.chef-img>img{
    width: 100%;
    cursor: pointer;
    transition: .2s;
    aspect-ratio:  570 / 570;
    object-fit: contain;
    object-position: center;
}
.chef-img>img:hover,.special-dish-img>img:hover{
    transform: scale(1.02);
}
@keyframes up_and_down {
    0%{
        background-position: top;
    }
    25%{
        background-position: center;
    }
    50%{
        background-position: bottom;
    }
    75%{
        background-position: center;
    }
    100%{
        background-position: top;
    }
}
.special-dish-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding:60px 30px;
    background: rgb(22, 23, 24);
} 
.special-dish-img{
    flex: 1.3;
}
.special-dish-img>img{
    width: 100%;
    height: 100vh;
    transition: .2s;
    cursor: pointer;
    object-fit: contain;
    object-position: center;
}
.special-dish-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.special-dish-head{
    color: rgb(228, 197, 144);
    letter-spacing: 4.8px;
    font-weight: bold;
}
.special-dish-name{
    font-size: 48px;
    font-family: 'Forum';
}
.special-dish{
    line-height: 25px;
    font-family: 'Forum';
    font-size: 18px;
}
.special-dish-price{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Arial';
    color: rgb(184, 187, 197);
    letter-spacing: 3px;
}
.special-dish-price>span{
    letter-spacing: 3px;
    color: rgb(228, 197, 144);
    font-size: 24px;
}
.special-dish-buy>button{
    padding: 16px 40px;
    font-weight: bold;
    letter-spacing: 2.8px;
}
.booking-and-features{
    background: url(images/background/shape-5.png);
    animation: up_and_down 20s infinite linear;
    background-color: rgb(2, 13, 12);
}
.booking-table-container{
    display: flex;
    animation: up_and_down 7s linear infinite;
    background-attachment: fixed;
    padding: 100px 80px;
    color: white;
}
.online-reservation-container{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding:100px 50px;
    align-items: center;
    background-color: rgb(18,18,18);
    text-align: center;
    gap: 35px;
}
.reservation-header-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reservation-header{
    font-size: 48px;
    font-family: 'Forum';
}
.reservation-call{
    font-size: .9em;
}
.reservation-call>a{
    color: rgb(228, 197, 144);
}
.booking-input-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.name>input,.person-details>input,.phone-no>input,.date>input{
    padding: 10px;
    background-color: rgb(27, 28, 29);
    border: 1px solid rgba(236, 213, 175, 0.286);
    outline:none;
    color: white;
    font-family: 'Be Vietnam Pro';
    cursor: pointer;
}
.booking-input-container>textarea{
    outline: none;
    padding: 10px;
    background-color: rgb(27, 28, 29);
    border:1px solid rgba(236, 213, 175, 0.286);
    color: white;
    font-family:'Be Vietnam Pro';
    cursor: pointer;
    height: 100px;
    resize: none;
}
.booking-input-container>textarea::placeholder,.name>input::placeholder,.phone-no>input::placeholder{
    color: white;
}
.number-of-persons,.time-container{
    position: relative;
}
.number-of-persons>i,.time-container>i{
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.name-details,.person-details{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.name,.name,.phone-no{
    width: 100%;
}
.person-details,.time-container,.number-of-persons,.date{
    width: 100%;
}
.name > input,
.phone-no > input,
.number-of-persons > select,
.time-container > select,.date>input{
    width: calc(100% );
}
.number-of-persons>select,.time-container>select{
    color: white;
    background-color: rgb(27, 28, 29);
    padding: 10px 30px;
    width: 100%;
    border: 1px solid rgba(236, 213, 175, 0.286);
    outline: none;
    cursor: pointer;
}
.book-table{
    background-color: rgb(228, 197, 144);
    border: none;
    border: 1px solid rgba(236, 213, 175, 0.286);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;
}
.avalaible-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url(images/background/form-pattern.png);
    background-color: rgb(18,18,18);
    background-size: cover;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding:30px;
}
.available-header{
    font-size: 48px;
    font-family: 'Forum';
}
.booking-request,.location-details-container,.location-details-container>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}
.location-details-container>div{
    gap: 5px;
    line-height: 21px;
}
.booking-request>div:first-child,.location-details-container>div>div:first-child{
    font-weight: bold;
    font-size: .9em;
}
.booking-request>a{
    color: rgb(228, 197, 144);
    cursor: pointer;
    font-family: 'DM Sans';
    font-size: 30px;
    font-weight: 400;
}
.location-details-container>div>div:last-child{
    font-size: .8em;
    color: rgb(184, 187, 197);
}
.overlay{
    position: fixed;
    background-color: rgb(0,0,0,0.5);
    z-index: 9999;
}
.overlay.active{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.thanking{
    box-shadow: 3px 3px 5px rgba(255,255,255,0.2),
    -3px -3px 5px rgba(255,255,255,0.2);
    background-color: rgba(25,25,25);
    z-index: 10000;
    border-radius: 20px;
    padding: 100px 80px;
    position: fixed;
    min-width: 600px;
    max-width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-family: 'ubuntu';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    transition: .1s;
}
.thanking:hover{
    transform: translate(-50%,-50%) scale(1);
}
.thanking>h1{
    color: rgb(228, 197, 144);
}
.thanking>div{
    line-height: 26px;
    color: white;
}
.thanking>a{
    margin-top: 8px;
    padding-bottom: 5px;
    color: rgb(228, 197, 144);
    text-decoration: none;
}
button.go-back{
    margin-top: 20px;
    padding: 12px 50px;
    background-color: transparent;
    color: rgb(228, 197, 144);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    border: 2px solid rgb(228, 197, 144);
}
/* 
.............................
footer 
.............................
*/
footer{
    background-color: rgb(2, 6, 12);
    padding: 40px;
    padding-bottom: 100px;
}
.footer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    font-weight: 300;
    padding-bottom: 100px;
    color: white;
}
footer a{
    text-decoration: none;
    color: rgb(184, 187, 197);
}
.footer>div>h3{
    margin: 15px 0;
} 
.footer>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer a:hover{
    color: rgb(228, 197, 144);
}
.copyrights{
    padding: 10px 20px;
    line-height: 25px;
    color: rgb(184, 187, 197);
    text-align: center;
}
.copyrights a{
    color: rgb(228, 197, 144);
} 
.ordered-successfull-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60vw;
    padding: 15px 30px;
    position: fixed;
    bottom: 0;
    left: 50%;
    background-color: rgb(96, 178, 70);
    color: white;
    font-weight: 600;
    transform: translate(-50%,110%);
    box-shadow: 0 -2px 4px rgba(255,255,255,0.2);
    transition: .5s;
}
a.cart-page{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
a.cart-page>img{
    width: 16px;
}

/* 
..................
Styling Elements 
..................
*/


.btn{
    color: rgb(228, 197, 144);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgb(228, 197, 144);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .45s;
}
.btn::before{
    content: '';
    width: 200%;
    border-radius: 50%;
    display: block;
    height: 200%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(228, 197, 144);
    transition: .45s;
    z-index: -1;
}
.btn:hover::before{
    top: 15%;
}
.btn:hover{
    color: rgb(14,14,14);
}